<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
{%with messages = get_flashed_messages()%}
    {%if messages%}
        {%for message in messages%}
            <center><b>{{message}}</b></center>
        {%endfor%}
    {%endif%}
{%endwith%}
<style>
    .form-signup{
        margin: 0 auto;
        max-width: 400px;
        background-color: white;
        padding: 50px;
    }
    body{
        padding-top: 200px;
        background-color: aliceblue;
    }
    .form-group h2{
        text-align: center;
        margin-bottom: 50px;
    }
    .form-control{
        text-align: center;
    }
</style>
<body>
    <div class="container">
        <form class="form-signup" method="post">
        <div class="form-group"><h2>Admin Login<hr/></h2></div>
        <div  class="form-group">
            <input type="text" name="aname" placeholder="Enter Your Username" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="password" name="apass" placeholder="Enter Your Password" class="form-control"/>
        </div>
        <input type="submit" value="Login" class="btn btn-success btn-block"/>
        </form>
    </div>
</body>
</html>