{%extends 'adminScreen.html'%}
{% block addcss%}
    <link rel="stylesheet" href="{{url_for('static',filename='table.css')}}">
{%endblock%}
{%block content%}
<div class="newroom m-3">
    <a href="{{url_for('newalloc')}}" class="btn btn-success">Allocate a Room</a>
</div>
<div>
<table class="table table-striped">
    <h1 style="margin-left: 100px;">Room Allocations</h1>
    <thead class="table-primary">
        <tr>
            <th>Resident ID</th>
            <th>Name</th>
            <th>Block</th>
            <th>Room Number</th>
        </tr>
    </thead>
    <tbody class="">
        {% set x=0 %}
        {% set j=1 %}
        {% for i in data%}
        <tr>
            <td>CGRH{{i[2]}}R{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div class="container" id="room-status">
    <div class="card w-50"><p class="card-title">Allocated Rooms</p>{{count}}</div>
    <div class="card w-50"><p class="card-title">Remaining Rooms</p>{{total-count}}</div>
</div>

{%endblock%}