{%extends 'adminScreen.html'%}
{%block addcss%}
    <link rel="stylesheet" href="{{url_for('static',filename='table.css')}}">
{%endblock%}

{%block content%}
<table class="table table-striped">
    <h1>Complaint Details</h1>
    <thead class="table-primary">
        <tr>
            <th>Complaint ID</th>
            <th>Resident ID</th>
            <th>Block</th>
            <th>Room</th>
            <th>Complaint</th>
            <th>Attachments</th>
            <th>Complaint D&T</th>
        </tr>
    </thead>
    <tbody>
        {%for i in data%}
        <tr>
            <td>{{i[0]}}</td>
            <td>CGRH{{i[2]}}R{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[4]}}</td>
            <td>{{i[5]}}</td>
            <td>{{i[6]}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}