{%extends 'adminScreen.html'%}
{%block addcss%}
    <link rel="stylesheet" href="{{url_for('static',filename='table.css')}}">
{%endblock%}

{%block content%}
<table class="table table-striped">
    <h1>Leave Requests</h1>
    {%with messages = get_flashed_messages()%}
        {%if messages%}
            {%for message in messages%}
                <center>{{message}}</center>
            {%endfor%}
        {%endif%}
    {%endwith%}
    <thead class="table-primary">
        <tr>
            <th>Request ID</th>
            <th>Resident ID</th>
            <th>Name</th>
            <th>Block</th>
            <th>Room No.</th>
            <th>Reason</th>
            <th>Request T&D</th>
            <th>LeaveLetter</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {%for i in data%}
            <tr>
                <td>{{i[0]}}</td>
                <td>CGRH{{i[3]}}R{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td>{{i[5]}}</td>
                <td>{{i[6]}}</td>
                <td>{{i[7]}}</td>
                <td>{{i[8]}}</td>
                <td>
                    <div class="action">
                        <form method="post" action="{{url_for('laccept')}}"><button name="accept" type="submit" value="{{i[0]}}" class="btn btn-primary btn-sm" id="acceptbtn">Grant</button></form>
                        <form method="post" action="/leaverejected"><button name="reject" type="submit" value="{{i[0]}}" class="btn btn-secondary btn-sm" id="rejectbtn">Reject</button></form>
                    </div>
                </td>
            </tr>
            
        {%endfor%}
    </tbody>
</table>
{%endblock%}