{% extends 'adminScreen.html' %}
{%block  addcss%}
<link rel="stylesheet" href="{{url_for('static',filename='table.css')}}">
{%endblock%}
{% block content %}

<table class="table table-striped">
  <h1>Residents Details</h1>
    <thead class="table-primary">
        <tr>
            <th>Resident ID</th>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>E-Mail ID</th>
            <th>Hostel Block</th>
            <th>Room Number</th>
            <th>Fees Due</th>
        </tr>
    </thead>
    <tbody class="">
        {%for i in data%}
        <tr>
            <td>CGRH{{i[4]}}R{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[4]}}</td>
            <td>{{i[5]}}</td>
            <td>{{i[6]}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<div class="container" id="print">
    <center><button class="btn btn-warning" onclick="window.print()">PRINT DATA</button></center>
</div>

{% endblock %}